################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstAPIProject/.vs/FirstAPIProject/FileContentIndex
.vs
bin
obj

